"" Base Settings
"" ========================================================

set scrolloff=10
set linenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set sneak
set nerdtree

" Easymotion settings
set easymotion
set notimeout

" Which-key settings
set which-key
let g:WhichKey_FontSize = 14
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

let g:WhichKeyDesc_easymotion = "<leader>j Jump with Easymotion"

let g:WhichKeyDesc_action= "<leader>a Actions"
let g:WhichKeyDesc_action_search = "<leader>as Open command modal"



"" Key mappings
"" ========================================================

" Tab navigation
nnoremap <C-n> :tabnext<CR>
nnoremap <C-p> :tabprev<CR>

" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv
map <Enter> o<ESC>

"" Leader commands
"" ========================================================

" Code navigation
nmap gi :action GotoImplementation<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>

" Comment lines
map <leader>c <action>(CommentByLineComment)
let g:WhichKeyDesc_comment = "<leader>c Comment line"

" Jump around with easymotion
map <leader>j <Plug>(easymotion-s)

" Window splits
let g:WhichKeyDesc_window = "<leader>w Window splits"
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)


" Useful Git actions
map <leader>g :action Git.ContextMenu<cr>

" Errors
let g:WhichKeyDesc_errors = "<leader>e Error navigation"
map <leader>ed :action ShowErrorDescription<cr>
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)

" File navigation
let g:WhichKeyDesc_navigation = "<leader>f File Navigation"
map <leader><leader> <Action>(RecentFiles)
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fs <action>(FindInPath)
map <leader>fl <action>(RecentLocations)

" Actions
let g:WhichKeyDesc_actions = "<leader>a Actions"
map <leader>as <action>(SearchEverywhere)
map <leader>ar <Action>(Refactorings.QuickListPopupAction)
map <leader>ac <action>(ShowIntentionActions)

" Closing tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

" Terminal
nmap <leader>t :action ActivateTerminalToolWindow<cr>

" Search
nmap <leader>/ :action Find<cr>

" Building, Running and Debugging
nmap <leader>r :action RunAnything<cr>